@*
    The model ValueTuple holds 2 Types:
     string - where the action parameter is passed (typically create/edit)
     PizzaPayload - holding pizza and categories data for form population
*@

@model ValueTuple<string, PhotoPayload>

<!-- Form -->
<form asp-action="@Model.Item1" method="post" class="mb-3">
    @Html.AntiForgeryToken()

    <!-- General Error Report -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Name input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Title" class="control-label">Title</label>
        <input asp-for="Item2.Photo.Title" class="form-control" />
        <span asp-validation-for="Item2.Photo.Title" class="text-danger"></span>
    </div>

    <!-- Description input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Description" class="control-label">Description</label>
        <input asp-for="Item2.Photo.Description" class="form-control" />
        <span asp-validation-for="Item2.Photo.Description" class="text-danger"></span>
    </div>

    <!-- Location input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Location" class="control-label">Location (URL)</label>
        <input asp-for="Item2.Photo.Location" class="form-control" />
        <span asp-validation-for="Item2.Photo.Location" class="text-danger"></span>
    </div>

    <!-- Private input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Private" class="control-label">Private</label>
        <input type="checkbox" asp-for="Item2.Photo.Private" class="form-check-input"/>
        <span asp-validation-for="Item2.Photo.Private" class="text-danger"></span>
    </div>

    <!-- Album input -->
    <div class="input-group mb-2">
        <label asp-for="Item2.Photo.AlbumId" class="input-group-text">
            Album
        </label>
        <select asp-for="Item2.Photo.AlbumId" class="form-select" aria-label="Album select">
            @foreach (Album album in Model.Item2.Albums)
            {
                    <option value="@album.AlbumId">
                    @album.Title
                    </option>
            }
        </select>
        <span asp-validation-for="Item2.Photo.AlbumId" class="text-danger"></span>
    </div>

    <!-- Categories input -->
    <div class="input-group mb-2">
        <label asp-for="Item2.SelectedCategories" class="input-group-text">
            Categories
        </label>
        <select asp-for="Item2.SelectedCategories"
                asp-items="@Model.Item2.Categories"
                name="SelectedCategories"
                multiple="multiple"
                size="10"
                class="form-select"
                aria-label="Categories select">
        </select>
        <span asp-validation-for="Item2.SelectedCategories" class="text-danger"></span>
    </div>

    <!-- Navigation -->
    <div class="form-group">
        <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Photo")">Back</a>
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </div>

</form>