@*
    The model ValueTuple holds 2 Types:
     string - where the action parameter is passed (typically create/edit)
     PizzaPayload - holding pizza and categories data for form population
*@

@model ValueTuple<string, PhotoPayload>

<!-- Form -->
<form asp-action="@Model.Item1" method="post" class="mb-3">
    @Html.AntiForgeryToken()

    <!-- General Error Report -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Name input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Title" class="control-label">Nome</label>
        <input asp-for="Item2.Photo.Title" name="Name" class="form-control" />
        <span asp-validation-for="Item2.Photo.Title" class="text-danger"></span>
    </div>

    <!-- Description input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Description" class="control-label">Descrizione</label>
        <input asp-for="Item2.Photo.Description" name="Description" class="form-control" />
        <span asp-validation-for="Item2.Photo.Description" class="text-danger"></span>
    </div>

    <!-- Price input -->
    <div class="form-group mb-2">
        <label asp-for="Item2.Photo.Price" class="control-label">Prezzo</label>
        <input type="number" asp-for="Item2.Photo.Price" name="Price" class="form-control" />
        <span asp-validation-for="Item2.Photo.Price" class="text-danger"></span>
    </div>

    <!-- Category input -->
    <div class="input-group mb-2">
        <label asp-for="Item2.Photo.AlbumId" class="input-group-text">
            Categoria
        </label>
        <select asp-for="Item2.Photo.AlbumId" name="CategoryId" class="form-select" aria-label="Category select">
            @foreach (Album category in Model.Item2.Albums)
            {
                <option value="@category.AlbumId">
                    @category.Title
                </option>
            }
        </select>
        <span asp-validation-for="Item2.Photo.AlbumId" class="text-danger"></span>
    </div>

    <!-- Ingredients input -->
    <div class="input-group mb-2">
        <label asp-for="Item2.SelectedCategories" class="input-group-text">
            Ingredienti
        </label>
        <select asp-for="Item2.SelectedCategories"
                asp-items="@Model.Item2.Categories"
                name="SelectedIngredients"
                multiple="multiple"
                size="10"
                class="form-select"
                aria-label="Ingredients select">
        </select>
        <span asp-validation-for="Item2.SelectedCategories" class="text-danger"></span>
    </div>

    <!-- Navigation -->
    <div class="form-group">
        <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Photo")">Indietro</a>
        <input type="submit" value="Conferma" class="btn btn-primary" />
    </div>

</form>