@{
    ViewData["Title"] = "Details";
}

@model Photo

<div class="text-center">

    <header>
        <h1 class="display-4">Static Pizzeria</h1>
        <p>By Francesco Limpias</p>
    </header>

    <main>
        <div class="px-3">

            <!-- Photo title -->
            <h2>@Model.Title</h2>
            <br />

            <!-- Photo image -->
            <img src="/uploads/@Model.Location" class="w-50" />

            <br />

            <!-- Photo details -->
            <p>
                <br />

                @Model.Description

                <br />

                Album: <b>@Model?.Album?.Title</b>

                <div class="">
                    <span>
                        Categories:
                    </span>
                    <ul class="list-group">
                        @foreach (Category category in Model?.Categories)
                        {
                            <li class="list-group-item">
                                @category.Name <i class="fa-solid fa-@category.Symbol" style="color:@category.Color"></i>
                            </li>
                        }
                    </ul>
                </div>

                Visibility: <b>@(Model.Private ? "HIDDEN" : "PUBLIC")</b>
            </p>

            <!-- Go back -->
            <div class="mb-3">
                <a class="btn btn-primary" href="@Url.Action("Index", "Photo")">Indietro</a>

                @if (User.IsInRole("ADMIN"))
                {
                    <a class="btn btn-outline-primary" href="@Url.Action("Edit", "Photo", new {id = Model.PhotoId})">
                        Modifica <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <form asp-controller="Photo" asp-action="Delete" asp-route-id="@Model.PhotoId" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <span asp-validation-summary="ModelOnly" class="text-danger"></span>
                        <button type="submit" class="btn btn-outline-danger">
                            Elimina <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                }
            </div>
        </div>
    </main>

</div>


