@{
    ViewData["Title"] = "Photos Index";
}

@model List<Photo>

<div class="text-center">

    <header>
        <h1 class="display-4">Photos Manager</h1>
        <p>By Francesco Limpias</p>
    </header>

    <main>
        <div class="px-3">
            @if (User.IsInRole("ADMIN"))
            {
                <a class="btn btn-primary" href="@Url.Action("Create", "Photo")">
                    Insert a photo
                </a>
            }


            @if (Model.Count() == 0)
            {
                <partial name="_SeedDatabase"/>
            }
            else
            {
                <table class="table">
                    <caption>Your photos!</caption>
                    <thead>
                        <tr>
                            <th class="text-danger">title</th>
                            <th>album</th>
                            <th>description</th>
                            <th>special tags</th>
                            <th>image</th>
                            <th>visibility</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    @foreach (Photo photo in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @photo.Title
                            </td>
                            <td class="align-middle h5">
                                @photo?.Album?.Title
                            </td>
                            <td class="align-middle">
                                @photo?.Description
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-wrap">
                                    @foreach (Category category in photo.Categories.Where(category => category.Prioritary))
                                    {
                                        <i class="fa-solid fa-@category.Symbol" style="color:@category.Color"></i>
                                    }
                                </div>
                            </td>
                            <td class="align-middle w-25">
                                <img src="@photo.Location" class="w-50" />
                            </td>
                            <td class="align-middle">
                                @if (photo.Private)
                                {
                                    <i class="fa-solid fa-eye-slash"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-eye"></i>
                                }
                            </td>
                            <th class="align-middle">
                                <div class="d-flex flex-column">
                                    <a class="btn btn-outline-secondary mb-1" href="@Url.Action("Details", "Photo", new {id = photo.PhotoId})">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>

                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <a class="btn btn-outline-primary mb-1" href="@Url.Action("Edit", "Photo", new {id = photo.PhotoId})">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>

                                        <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.PhotoId" method="post">
                                            @Html.AntiForgeryToken()
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <button type="submit" class="btn btn-outline-danger">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    }
                                </div>
                            </th>
                        </tr>
                    }
                </table>
            }
        </div>
    </main>

</div>


